<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656104812451-ma9v3uqg2jebcpmhm96cnk3ktqq777n9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656104812451-ma9v3uqg2jebcpmhm96cnk3ktqq777n9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>656104812451-e6hlp786ne7420ilb47qbopple062b3g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzThwTH2rIFIejyoLDW_z0KvZMK4ii2pY</string>
	<key>GCM_SENDER_ID</key>
	<string>656104812451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kelem.kelemapp</string>
	<key>PROJECT_ID</key>
	<string>kelem-5519d</string>
	<key>STORAGE_BUCKET</key>
	<string>kelem-5519d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656104812451:ios:933735031a20e34a2ff416</string>
	<key>DATABASE_URL</key>
	<string>https://kelem-5519d.firebaseio.com</string>
</dict>
</plist>